<% include partials/header %>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src="/img/banner.jpg" alt="boat" style="width:100%;min-height:350px;max-height:600px;">
  <div class="w3-container w3-display-bottomleft w3-margin-bottom">  
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Go To Shortlist Partners">Shortlist Partners</button>
  </div>
</div>

<!-- Modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-teal w3-display-container"> 
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>Oh snap! We just showed you a modal..</h4>
      <h5>Because we can <i class="fa fa-smile-o"></i></h5>
    </header>
    <div class="w3-container">
      <p>Cool huh? Ok, enough teasing around..</p>
      <p>Go to our <a class="w3-text-teal" href="/w3css/default.asp">W3.CSS Tutorial</a> to learn more!</p>
    </div>
    <footer class="w3-container w3-teal">
      <p>Modal footer</p>
    </footer>
  </div>
</div>

<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
<h2>OUR TEAM</h2>
<p>Meet the team - our office rats:</p>

<div class="w3-row"><br>

<div class="w3-quarter">
  <img src="/img/shubham.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Shubham Dixit</h3>
  <p>Boss Man</p>
</div>


<div class="w3-quarter">
<img src="/img/vandana.jpg" alt="Vandana" style="width:45%" class="w3-circle w3-hover-opacity">
<h3>Vandana Mishra</h3>
<p>Business Acquisition</p>
</div>

<div class="w3-quarter">
  <img src="/img/saarth.jpeg" alt="Saarth" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Saarth Upadhyay</h3>
  <p>Communications Head</p>
</div>

<div class="w3-quarter">
  <img src="/img/garima.jpeg" alt="Garima" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Garima Tripathi</h3>
  <p>IT Consultant</p>
</div>

</div>
</div>

<!-- Work Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">

<div class="w3-quarter">
<h2>Our Work</h2>
<p>Our client is our passion. We strive to make you happy. Our team of young, dedicated indivisuals pair up with indutry specialist consultants to ease your needs of HR in your organisation. We specialise in <b>Shortlisting</b> services.</p>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white">
  <img src="/img/anushree.jpeg" alt="Anushree" style="width:50px, height: 50px;">
  <div class="w3-container">
  <h3>Anushree Industries</h3>
  <h4>Chemicals Manufacturer</h4>
  <p>We outsourced shortlisting services from Anushree Industries for 5 positions in Apr, 2018.</p>
  <p>The work was delivered in such short notice and the cost beared by company was reduced significantly which enabled them to extend our contract untill March 2019.</p>
 
  </div>
  </div>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white">
  <img src="/img/pbpl.jpg" alt="pbpl" style="width:100%">
  <div class="w3-container">
  <h3>Paras Biotech (P) Limited</h3>
  <h4>Fertlizers and Persticides</h4>
  <p>We shortlisted 150 candidates for position of senior chemical analyst as our first assignment in January 2018.</p>
  <p>Since then we have shortliseted candidates for 3 more positions with them.</p>
  <p>The management has complete trust in our competence and timebound submission of work.</p>
  <p>We are in talks with the company to offer complete recruitment process outsourcing to us.</p>
  
  </div>
  </div>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white">
  <img src="/img/rusty.jpg" alt="Rusty Windmill" style="width:100%; height:200px;">
  <div class="w3-container">
  <h3>Rusty Windmill Events and Hospitality</h3>
  <h4>Hospitality</h4>
  <p>We recruited event management associates for them. Each of them is screened heavily for past experiences and personal attributes. </p>
  <p>We are able to fetch a successful contract with them for two years now.</p>
  <p>We abide by strict ND praactices and do not divulge any information deemed sensitive by the client.</p>
  </div>
  </div>
</div>

</div>

<!-- Container -->
<div class="w3-container" style="position:relative">
  <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
  style="position:absolute;top:-28px;right:24px">+</a>
</div>

<!-- Pricing Row -->
<div class="w3-row-padding w3-center w3-padding-64" id="pricing">
    <h2>PRICING</h2>
    <p>Choose a pricing plan that fits your needs. We consider your needs to be ours.</p><br>
    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme">
          <p class="w3-xlarge">Basic</p>
        </li>
        <li class="w3-padding-16"><b>1</b> Position</li>
        <li class="w3-padding-16"><b>100</b> CVs</li>
        <li class="w3-padding-16"><b>5</b> Competencies</li>
        <li class="w3-padding-16"><b>Endless</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide"><i class="fa fa-inr"></i> 300</h2>
          <span class="w3-opacity">per CV</span>
        </li>
        <li class="w3-theme-l5 w3-padding-24">
          <button class="w3-button w3-teal w3-padding-large"><i class="fa fa-check"></i> Sign Up</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme-l2">
          <p class="w3-xlarge">Pro</p>
        </li>
        <li class="w3-padding-16"><b>5</b> Positions</li>
        <li class="w3-padding-16"><b>500</b> CVs</li>
        <li class="w3-padding-16"><b>Endless</b> Competencies</li>
        <li class="w3-padding-16"><b>Endless</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide"><i class="fa fa-inr"></i> 275</h2>
          <span class="w3-opacity">per CV</span>
        </li>
        <li class="w3-theme-l5 w3-padding-24">
          <button class="w3-button w3-teal w3-padding-large"><i class="fa fa-check"></i> Sign Up</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme">
          <p class="w3-xlarge">Premium</p>
        </li>
        <li class="w3-padding-16"><b>10+</b> Positions</li>
        <li class="w3-padding-16"><b>Endless</b> CVs</li>
        <li class="w3-padding-16"><b>Endless</b> Competencies</li>
        <li class="w3-padding-16"><b>Endless</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide"><i class="fa fa-inr"></i> 250</h2>
          <span class="w3-opacity">per CV</span>
        </li>
        <li class="w3-theme-l5 w3-padding-24">
          <button class="w3-button w3-teal w3-padding-large"><i class="fa fa-check"></i> Sign Up</button>
        </li>
      </ul>
    </div>
</div>

<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
      <h3>Address</h3>
      <p>Swing by for a cup of coffee, or whatever.</p>
      <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>G-79,Lajpat Nagar-III, New Delhi, India</p>
      <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>  +91 9792124124</p>
      <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>businessdevelopment@shortlistpartners.com</p>
    </div>
    <div class="w3-col m7">
      <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
      <div class="w3-section">      
        <label>Name</label>
        <input class="w3-input" type="text" name="Name" required>
      </div>
      <div class="w3-section">      
        <label>Email</label>
        <input class="w3-input" type="text" name="Email" required>
      </div>
      <div class="w3-section">      
        <label>Message</label>
        <input class="w3-input" type="text" name="Message" required>
      </div>  
      <input class="w3-check" type="checkbox" checked name="Like">
      <label>I Like it!</label>
      <button type="submit" class="w3-button w3-right w3-theme">Send</button>
      </form>
    </div>
  </div>
</div>


<% include partials/maps %>


<% include partials/footer %>