<div id="dynamic-content" class="col-sm-8 col-md-6 col-md-9">
            
            <div class="dynamic-content-holder">
                <h1>
	HR Shortlisting Services</h1>
<h2>
	Guaranteed shortlist within 5 business days&nbsp;</h2>
<p>
	<a href="http://www.dixonappointments.com.au/page/employers/fast5-infographic/" target="_blank"><img alt="" src="/media/dixon2014/client/Images Employers/Fast5 Infographic - Social Media post.png" style="font-size: 12.222222328186px; width: 350px; height: 1063px; float: right; margin: 0px 10px;" class="img-responsive"></a></p>
<p>
	The keys to effective shortlisting are speed and effective assessment. An applicant is most engaged in the job-seeking process and less likely to receive an alternative job offer if the time from application receipt to shortlist interview is reduced and as HR professionals will know, a resume alone is the single worst predictor of candidate suitability.&nbsp;</p>
<div>
	<p>
		So what do you do if you don’t have the time or expertise necessary for the early stages of the recruitment process? That’s where we come in.</p>
	<p>
		Dixon HR Shortlisting Service offers fast results, delivering candidate shortlists evaluated by Advisors who are experts in screening and behavioural assessment.&nbsp;</p>
	<p>
		Since our services launched in 2011 the HR Shortlisting Team has screened and assessed over 20,000 applicants for organisations who don’t have the time or expertise to invest in the important initial stages of every recruitment process.</p>
	<p>
		Here’s how it works…</p>
	<h3>
		Methodology Overview</h3>
	<p>
		Your Dixon HR Shortlisting Advisor will review, screen and undertake behavioural assessments to ascertain the top applicants for your role within 5 business days. Need it earlier? Depending on the role, a shortlist can be delivered in as little as 48 hours. &nbsp;Call us to discuss your specific needs.</p>
	<p>
		Once we’ve shortlisted it’s over to you; you contact any or all shortlisted candidates to arrange interviews and you get to keep control of all background verification and hiring decisions.</p>
	<h3>
		Advertising</h3>
	<p>
		A good job advertisement can mean the difference between a great pool of candidate applicants and a so-so pool to choose from.&nbsp;</p>
	<p>
		Your Shortlisting Advisor will work with you to ensure you attract the best possible applicants in the active market. &nbsp;</p>
	<p>
		Our advertising process for Dixon HR Shortlisting is flexible. You can write the job advertisement, place it on a job board and then call us to undertake the shortlisting, alternatively, we can write and place the job advertisement for you.&nbsp;</p>
	<h3>
		Selection Criteria</h3>
	<p>
		We work with your selection criteria to ensure that you get the most suitable candidates for your unique needs.&nbsp;</p>
	<p>
		Haven’t defined the selection criteria for your role? Our Shortlisting Advisors can offer you expert advice and assistance to ensure that you are filtering out the chaff and identifying the best applicants who have applied for your vacancy.</p>
	<h3>
		Fully Customised</h3>
	<p>
		Understanding that each vacancy is unique and that cultural fit is key for most organisations, your Shortlisting Advisors will design a bespoke screening and assessment process for your vacancy.&nbsp;</p>
	<p>
		Behavioural interview questions are designed and a structured assessment methodology is followed to ensure we are comparing each applicant against your customised criteria.</p>
	<h3>
		Reduced time-to-hire</h3>
	<p>
		By reducing the time between applications and shortlist interviews you reduce the number of applicants you lose midway through the process because they get offers from other employers before you get the chance to make a decision. Because the good candidates in the market usually are not actively looking for new positions for long, the faster you can take an application through to shortlist interview stage, typically the more likely you are to keep the best applicants.&nbsp;</p>
	<p>
		However, the same must be said for the time between shortlist to offer, so it’s best if you engage Dixon HR Shortlisting when you are genuinely ready to hire to prevent your shortlist of the best candidates in the market waiting to hear from you and slowly dwindling away while other employers make decisions and offers in the meantime. We don’t like to see our clients waste their money and lose talent due to hiring delays!</p>
	<h3>
		No hidden costs</h3>
	<p>
		Got your shortlist? Hire the best applicant. Hire five of them. There are no hidden costs or placement fees to pay.&nbsp;</p>
	<h3>
		Optional extras</h3>
	<p>
		If you would like further assistance to complement the hiring process beyond the shortlist, talk to your Shortlist Advisor to determine the optional extras that will add value to your process at an extra cost.&nbsp;</p>
	<p>
		These may include:</p>
	<ul>
		<li>
			<strong>Background verification:&nbsp;</strong>reference checks can verify the accuracy of the candidate’s work history and identify strengths and areas of concern.</li>
		<li>
			<strong>Skills Testing:</strong>&nbsp;A range of administrative, software and keyboard tests are available.</li>
		<li>
			<strong>Interview management:&nbsp;</strong>We co-ordinate your interview arrangements and ensure that unsuccessful candidates receive a courtesy notification.</li>
		<li>
			<strong>Interview panel and scribing:</strong>&nbsp;We provide an experienced consultant to join your interview panel. &nbsp;As an outside observer, they bring expertise and objectivity to the selection process.</li>
	</ul>
</div>
<p>
	&nbsp;</p>

            </div>
        <select class="navigation form-control"><option value="/" selected="selected">Related Pages</option><option value="/page/employers/">Employers</option><option value="/page/employers/business-sectors/">Business Sectors</option><option value="/page/employers/recruitment-services/">Recruitment Services</option><option value="/page/employers/recruitment-services/office-and-administration-recruitment/">Office &amp; Administration Recruitment</option><option value="/page/employers/recruitment-services/victorian-state-government/">Victorian State Government</option><option value="/page/employers/recruitment-services/specialist-education-division/">Education Specialist</option><option value="/page/employers/hr-shortlisting-services/" disabled="disabled">HR Shortlisting Services</option><option value="/page/employers/hr-consulting-services/">HR Consulting Services</option><option value="/page/employers/recruit-news/">Recruit News</option><option value="/page/employers/recruit-news/how-do-you-measure-up-as-a-leader/">How do you measure up as a leader</option><option value="/page/employers/recruit-news/should-i-multilist-my-vacancy/">Should I multi-list my vacancy</option><option value="/page/employers/recruit-news/coping-with-workplace-stress/">Coping with workplace stress</option><option value="/page/employers/recruit-news/asking-the-right-questions-in-your-video-interviews/">Asking the right questions in your video interviews</option><option value="/page/employers/recruit-news/the-value-of-learning-in-the-workplace/">The value of learning in the workplace</option><option value="/page/employers/recruit-news/unconscious-biases-impacting-hiring-decisions/">Unconscious biases are still impacting hiring decisions</option></select></div>